{% extends 'fittoapp/layout.html' %}
{% load static %}

    {% block title%} - calc{% endblock%}
    {% block link %}
    <link rel="stylesheet" href="{% static 'fittoapp/styles-calc.css'%}"> 
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="{% static 'fittoapp/calculate.js'%}"></script>
    {% endblock %}

    {% block body %}
    <h1 id="title">calculate your calories - the easy way.</h1>

    <fieldset class="main-input">
        <form>
            <label for="food-input">
                <input type="text" name="food-input" id="food-input" autofocus="on" autocomplete="off" placeholder="Enter what you ate today">
            </label>
            <button id="calculate-btn" type="button">calculate</button>
        </form>
    </fieldset>

    

      
        <div class="table_container">
            <table class="boostrap4_dark">
                
            </table>
        </div>
       
        <dialog class="modal" id="modal" role="dialog" aria-modal="true">
        
            <div class="dialogTitle"> 
                <span id="foodTitleDialog"></span>
                <button id="closeButton">&times;</button>
            </div>
            <div class="nutrition-summary">
                <div class="box">
                <div class="chartDiv">
                    <canvas id="myChart" width="20%" height="20%"></canvas>
                </div>
                <div class="nutrition-amounts">
                    <ul class="macrolist">
                        <li><span class="dot" id="roundProtein"></span class="macronutrient" style="color: white;">Protein: <span id="proteinAmt"></span> <span class="percInline">(<span id="percProtein"></span>)</li>
                        <li><span class="dot" id="roundcarbs"></span class="macronutrient">Carbs: <span id="carbsAmt"></span> <span id="percInline">(<span id="percCarbs"></span></span>)</li>
                        <li><span class="dot" id="roundfat"></span class="macronutrient">Fat: <span id="fatAmt"></span> <span id="percInline"></span>(<span id="percFat"></span>)</li>
                    </ul>
                </div>
                </div>

                <div class="box2">
                    <form class="formserving">
                        <label for="timeofday">Time of Meal: 
                            <select name="timeofday" id="timeofday">
                                <option value="Breakfast">Breakfast</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Snack">Snack</option>
                                <option value="Dinner">Dinner</option>
                            </select>
                        </label>
                        <label for="serving">Serving Size
                            <input type="text" name="serving" value="1" id="serving">
                            <select name="servingtype" id="servingtype">
                            </select>
                        </label>
                    </form>
                </div>
            </div>
            <div class="dialogaddFood">
                <button class="btn-addFood" id="btn-dialogAddFood" type="button">Add Food</button>
            </div>
        </dialog>
       
    <script>
        const csrftoken = '{{ csrf_token }}'
    </script>
    {% endblock %}