<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitto {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    {% block style %}{% endblock %}
    <script defer src="/static/index.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/" aria-current="page">home</a>
            </li>
            <li>
                <a href="/calorie">calorie-calculator</a>
            </li>
            <li>
                <a href="/activity">activity-tracker</a>
            </li>
        </ul>
    </nav>

    {% block main %}{% endblock %}
</body>
</html>