{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitto {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'fittoapp/styles.css' %}">
    
    {% block link %} {% endblock %}
</head>
<body>
    <nav>
        
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'fittoapp:index' %}" aria-current="page">home</a>
            </li>
            <li>
                <a href="{% url 'fittoapp:calorie' %}">calorie-calculator</a>
            </li>
            <li>
                <a href="/activity">activity-tracker</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
            {% else %}
        <ul>
            <li>
                <a href="{% url 'register' %}" aria-current="page">Register</a>
            </li>
            <li>
                <a href="{% url 'login' %}" aria-current="page">Login</a>
            </li>
        </ul>
            {% endif %}
    </nav>
    {% if messages %}
     {% for message in messages %}
        <div class='django-messages'>
            {{ message }}
        </div>
     {% endfor %}
    {% endif %}
    {% block body %}

    {% endblock %}
</body>
</html>