.frame-child {
  position: absolute;
  top: 110px;
  left: 30px;
  background-color: #040020;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1350px;
  height: 763px;
}
.frame-item {
  position: absolute;
  top: 20px;
  left: 269px;
  background-color: var(--primary);
  width: 1363px;
  height: 329px;
  border-radius: 10px;
}
.your-progress {
  position: absolute;
  top: 40px;
  left: 320px;
  font-size: 32px;
  font-weight: 600;
}
.frame-inner {
  position: absolute;
  top: 90px;
  left: 320px;
  background-color: #301e67;
  width: 196px;
  height: 236px;
}
.avg-calories,
.kcal {
  position: absolute;
  top: 180px;
  left: 373px;
}
.kcal {
  top: 220px;
  left: 373px;
  font-size: 24px;
}
.vector-icon {
  position: absolute;
  height: 51px;
  width: 87px;
  top: 118px;
  left: 326px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  filter: invert(6%) sepia(10%) saturate(2910%) hue-rotate(139deg) brightness(95%) contrast(99%);
}
.rectangle-div {
  position: absolute;
  top: 107px;
  left: 517px;
  background-color: #202235;
  width: 410px;
  height: 219px;
}
.avg-carbs,
.avg-fat,
.avg-fiber,
.avg-protein {
  position: absolute;
  top: 140px;
  left: 606px;
  font-size: var(--font-size-xs);
  font-weight: 300;
}

.avg-protein {
  top: 140px;
  left: 787px;
}

.avg-fat {
  top: 230px;
  left: 616px;
}
.avg-fiber {
  top: 230px;
  left: 792px;
}

.gm,
.gm1,
.gm2,
.gm3 {
  position: absolute;
  top: 163px;
  left: 618px;
  font-size: var(--font-size-base);
  font-weight: 600;
}
.gm1  {
  top: 252px;
  left: 617px;
}
.gm2 {
  top: 163px;
  left: 800px;
}
.gm3 {
  top: 252px;
  left: 800px;
}
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  position: absolute;
  height: 48px;
  width: 44px;
  top: 136px;
  left: 547px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  filter: invert(27%) sepia(77%) saturate(2126%) hue-rotate(233deg) brightness(83%) contrast(105%);
}
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  width: 49px;
  height: 39px;
  top: 138px;
  left: 731px;
}
.vector-icon3,
.vector-icon4 {
  width: 54px;
  height: 38px;
  top: 230px;
  left: 732px;
}
.vector-icon4 {
  width: 40px;
  height: 36px;
  top: 230px;
  left: 550px;
}
.frame-child1 {
  position: absolute;
  top: 76px;
  left: 987px;
  background-color: #23242e;
  width: 599px;
  height: 250px;
}
.frame-child2,
.frame-child3 {
  position: absolute;
  top: 90px;
  left: 1004px;
  background-color: #282A3A;
  width: 378px;
  height: 220px;
}
.frame-child3 {
  left: 1409px;
  width: 159px;
}
.breakfast,
.dinner,
.lunch {
  position: absolute;
  top: 112px;
  left: 1476px;
  font-weight: 300;
  
}
.dinner,
.lunch {
  top: 255px;
  left: 1484px;
}
.lunch {
  top: 179px;
}
.group-icon1,
.group-icon2,
.group-icon {
  position: absolute;
  height: 38px;
  width: 46px;
  top: 102px;
  left: 1419px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  filter: invert(27%) sepia(77%) saturate(2126%) hue-rotate(233deg) brightness(83%) contrast(105%);
}

.group-icon1 {
  left: 1419px;
  top: 169px;
  width: 46px;
  height: 38px;
}

.group-icon2 {
  left: 1419px;
  top: 247px;
  width: 43px;
  height: 32px;
}

.rectangle-parent {
  position: relative;
  background-color: var(--background);
  width: 100%;
  height: 19vw;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}


