:root {
    --text: #f6eded;
    --background: #03001C;
    --primary: #282A3A;
    --secondary: #301E67;
    --accent: #372279;
    --cool: #4a41d8;
}

* {
    /* border: 1px solid white; */
}

body {
    background-color: var(--background);
    font-family: "Open Sans", sans-serif;
    color: var(--text);
    overflow: hidden;
}


nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}

nav li {
    display: inline-block;
    padding-right: 10px;
}

nav a {
    color: #FAEDE3;
    font-weight: 700;
    text-decoration: none;
}

.container {
    margin: 20px auto;
}

.progress {
    width: 80vw;
    height: 20vw;
    margin: 20px auto;
}

.progressheading {
    color: var(--text);
    font-size: 24px;
}

.avgCalories {
    display: flex;
    flex-direction: column;
    text-align: center;   
    background-color: red;
    width: 15%;
    height: 75%;
}

.avgProgressText {
    margin-top: 50%;
    margin-bottom: 10px;
    font-weight: 200;
    opacity: 0.8;
}

.avgProgressNumber {
    font-weight: 700;
}

.container-avgMacros {
    margin: 20px auto;
    margin-top: -290px;
    width: 30%;
    height: 80%;
    background-color: red;
    display:grid;
    box-sizing:border-box;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    .box{
        display: flex;
        flex-direction: column;
        text-align: center;   
        background-color: red;
        align-items:center;
        justify-content:center;
      
    }
}

.avgProtein {
    display: flex;
    flex-direction: column;
    text-align: center;   
    
    background-color: red;
    
}

.avgCarbs {
    display: flex;
    flex-direction: column;
    text-align: center;   
    background-color: red;
}

.avgFat {
    display: flex;
    flex-direction: column;
    text-align: center;   
    background-color: red;
}

.avgFiber {
    display: flex;
    flex-direction: column;
    text-align: center;   
    background-color: red;
}

#calorieChartDiv, #calorieBurnedChartDiv, #calorieRemainingChartDiv {
    width: 150px;
}

#calorieChartDiv {
    margin-right: 30px;
}

#calorieBurnedChartDiv {
    margin-left: 30px;
}

#calorieRemainingChartDiv {
    margin-left: 60px;
}

#chartContainer {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    
}


.summary-container {
    display: flex;
    width: 80vw;
    height: 25vw;
    margin: 10px auto;
}


.calorie-summary {
    display: flex;
    width: 50vw;
    max-width: 700px;
    min-width: 150px;
    height: 20vw;
    margin-left: -4px;
    margin: auto;
    
}

.calorie-summary, .macronutrients-summary {
    background: var(--primary);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
  }

.macronutrients-summary {
    width: 30vw;
    /* max-width: 500px;
    min-width: 150px; */
    box-sizing: border-box;
    height: 20vw;
    margin: auto;
    padding-top: 35px;
    margin-left: -25px;
    
}

.macronutrients-summary #macroBarChartDiv {
    width: 100%;
    margin: 30px 0;
    margin-left: 12px;
}

#macroBarChartDiv .macro-progress-name {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #ffe;

}

#energynumbers {
    position: absolute;
    
    left: 300px;
    top: -30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--cool);
    z-index: 1;
}

#proteinnumbers {
    position: absolute;
    left: 300px;
    top: -30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--cool);
    z-index: 1;
}

#carbsnumbers {
    position: absolute;
    left: 300px;
    top: -30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--cool);
    z-index: 1;
}

#fatnumbers {
    position: absolute;
    left: 300px;
    top: -30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--cool);
    z-index: 1;
}

#energynumbers::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 12px;
    width: 12px;
    bottom: -2px;
    z-index: -1;
    background-color: var(--cool);
    transform: translateX(-50%) rotate(45deg);
}

#proteinnumbers::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 12px;
    width: 12px;
    bottom: -2px;
    z-index: -1;
    background-color: var(--cool);
    transform: translateX(-50%) rotate(45deg);
}

#carbsnumbers::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 12px;
    width: 12px;
    bottom: -2px;
    z-index: -1;
    background-color: var(--cool);
    transform: translateX(-50%) rotate(45deg);
}

#fatnumbers::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 12px;
    width: 12px;
    bottom: -2px;
    z-index: -1;
    background-color: var(--cool);
    transform: translateX(-50%) rotate(45deg);
}

.tooltip {
    overflow:hidden;
    position: absolute;
    left: 470px;
    top: -30px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--cool);
    z-index: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 12px;
    width: 12px;
    bottom: -2px;
    z-index: -1;
    background-color: var(--cool);
    transform: translateX(-50%) rotate(45deg);
}




#macroBarChartDiv .progressbar {
    height: 8px;
    width: 90%;
    background: #fff;
    margin-top: 6px;
    border-radius: 6px;
}

.progressbar .macro-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    
    animation: progress 0.5s ease-in-out forwards;
}

@keyframes progress {
    0% {
        width: 0;
    }
    100% {
        opacity: 1;
    }
}



#energyprogress { 
    width: 90%; 
    background-color: rgb(255, 99, 132);
}

#proteinprogress { 
    width: 40%; 
    background-color: rgb(255, 159, 64);
}

#carbsprogress {
    width: 90%; 
    background-color: rgb(54, 162, 235);
}

#fatprogress { 
    width: 80%; 
    background-color: rgb(153, 102, 255);
}

