:root {
    --text: #f6eded;
    --background: #03001C;
    --primary: #282A3A;
    --secondary: #301E67;
    --accent: #372279;
    --cool: #4a41d8;
}

body {
    background-color: var(--background);
    font-family: "Open Sans", sans-serif;
    color: var(--text);
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}

nav li {
    display: inline-block;
    padding-right: 10px;
}

nav a {
    color: #FAEDE3;
    font-weight: 700;
    text-decoration: none;
}

#title {
    display: block;
    margin: 20px auto;
    margin-top: 50px;
    text-align: center;
}

fieldset {
    border: 0;
}



#food-input {
    display: block;
    margin: 20px auto;  
    background-color: var(--primary);
    height: 30px;
    width: 20%;
    border: 1px solid var(--secondary);
    border-radius: 20px;
    padding-left: 15px;
    color: #FAEDE3;
    
}

::placeholder {
    padding-left: 15px;
}

#food-input:hover {
    border-color: var(--secondary);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#food-input:focus {
    outline: none !important;
    border-color: var(--secondary);
    box-shadow: 0 0 0 0.25rem rgba(36, 26, 68, 0.5);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    caret-color: transparent;
    background-color: var(--primary);
    
}

#calculate-btn {
    display: block !important;
    margin: 20px auto !important;
    height: 35px !important;
    width: 20% !important;
    border-radius: 20px;
    color: var(--text);
}

table.boostrap4_dark {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text);
    background-color: var(--primary);
    text-align: left;
    box-sizing: border-box;
    /* border-collapse: collapse; */
    width: 100%;
    margin-bottom: 1rem;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid black; */
}

.macronutrient {
    
}



table.boostrap4_dark td {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #fff; */
    text-align: left;
    border-collapse: collapse;
    box-sizing: border-box;
    border-bottom: 1px solid var(--background);
    padding: 0.75rem;
    padding-left: 15px;
    vertical-align: middle;
    /* border-top: 1px solid #dee2e6; */
}

tr:hover {
    background-color: #1d1f2c;
    cursor: pointer;
}

table.bootstrap4_dark a {
    color: red;
}

.subtext {
    display: inline-flex;
    vertical-align: sub !important;
    opacity: 0.5;
    font-size: 10px;
    margin-left: 10px;

}

/* ----------- Non table related styles */

.table_container {
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.modal {
    margin-top: 500px;
    width: 60vw;
    height: 17vw;
    border-radius: 20px;
    overflow: hidden;
    /* background-color: var(--primary) */
}

#closeButton {
    float: right;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 20px;
}

.chartDiv {
    width: 150px;
    
}



.nutrition-summary {
    display: flex;
    justify-content: flex-start;
    margin-top: 7px;
}




.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.box2 {
    width: 50%;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding-top: 15px
}



.formserving label {
    display: block;
    margin-top: 20px;
    margin-left: 5px;
}

.nutrition-summary .nutrition-amounts li {
    list-style: none;   
}

.dialogaddFood {
    display:block;
    margin: 0 auto;
}

.btn-addFood {
    display: block !important;
    margin: 20px auto !important;
    height: 35px;
    cursor: pointer;
    width: 20% !important;
    border-radius: 20px;
    color: #FAEDE3; 
}

#timeofday {
    margin-left: 5px;
    height: 25px;
}

#serving {
    width: 30px;
    height: 22px;
    margin-left: 5px;
    border-radius: 5px;
}

#servingtype {
    height: 25px;
    margin-left: 5px;
    border-radius: 5px;
}

.nutrition-summary .nutrition-amounts {
    margin-left: -50px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
  }


  #roundProtein {
    background-color: rgb(255, 99, 132) !important; 
}


#roundcarbs {
    background-color: rgb(255, 205, 86) !important;
}

#roundfat {
    background-color: rgb(54, 162, 235) !important;
}

#percProtein {
    color: rgb(255, 99, 132) !important;
}

#percCarbs {
    color: rgb(255, 205, 86) !important;
}

#percFat {
    color: rgb(54, 162, 235) !important;
}

.dialogTitle {
    display: block;
    text-align: center;
    margin-top: 5px;
}

.btn-table-style {
    border: none;
    border-radius: 7px;
    font-size: 13px;
    
}

/* https://codepen.io/yuhomyan/pen/OJMejWJ */

.btn-table-style, .btn-addFood, #calculate-btn {
    background-color: var(--secondary) !important;
    border: none;
    z-index: 1;
  }

  .btn-table-style, .btn-addFood, #calculate-btn {
    width: 65%;
    color: white;
    border-radius: 15px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.1),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-table-style:after, .btn-addFood:after, #calculate-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent);
    border-radius: 15px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.1),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-table-style:hover, .btn-addFood:hover, #calculate-btn:hover {
    color: #fff;
  }
  .btn-table-style:hover:after, .btn-addFood:hover:after, #calculate-btn:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-table-style:active, .btn-addFood:active, #calculate-btn:active {
    top: 2px;
  }
  