body {
    background-color: #0f172a;
    font-family: "Open Sans", sans-serif;
    color: #FAEDE3 !important;
}


nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}

nav li {
    display: inline-block;
    padding-right: 10px;
}

nav a {
    color: #FAEDE3;
    font-weight: 700;
    text-decoration: none;
}