body {
    background-color: #0f172a;
    font-family: "Open Sans", sans-serif;
    color: #FAEDE3;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}

nav li {
    display: inline-block;
    padding-right: 10px;
}

nav a {
    color: #FAEDE3;
    font-weight: 700;
    text-decoration: none;
}

#title {
    display: block;
    margin: 20px auto;
    margin-top: 50px;
    text-align: center;
}

fieldset {
    border: 0;
}



#food-input {
    display: block;
    margin: 20px auto;  
    background-color: #1F2F56;
    height: 30px;
    width: 20%;
    border: 1px solid #314B89;
    border-radius: 20px;
    padding-left: 15px;
    color: #FAEDE3;
    
}

::placeholder {
    padding-left: 15px;
}

#food-input:hover {
    border-color: #4B6DBF;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#food-input:focus {
    outline: none !important;
    border-color: #4B6DBF;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    caret-color: transparent;
    background-color: #1F2F56;
    
}

#calculate-btn {
    display: block;
    margin: 20px auto;
    background-color: #0B6DF4;
    border: 0;
    height: 30px;
    width: 20%;
    border-radius: 20px;
    color: #FAEDE3;
}

#calculate-btn:hover {
    background-color: #0044FF;
    cursor: pointer;
}

table.boostrap4_dark {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #1F2F56;
    text-align: left;
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}

table.bootstrap4_dark td:first-child {
    
}

table.boostrap4_dark thead th {
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: inherit;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

table.boostrap4_dark td {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    border-collapse: collapse;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0.75rem;
    padding-left: 10px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.subtext {
    display: inline-flex;
    vertical-align: sub !important;
    opacity: 0.5;
    font-size: 10px;
    margin-left: 10px;

}

/* ----------- Non table related styles */

.table_container {
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.modal {
    margin-top: 500px;
    width: 60vw;
    height: 17vw;
    border-radius: 20px;
    overflow: hidden;

}

#closeButton {
    float: right;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 20px;
}

.chartDiv {
    width: 150px;
    
}



.nutrition-summary {
    display: flex;
    justify-content: flex-start;
    margin-top: 7px;
}




.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.box2 {
    width: 50%;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding-top: 15px
}



.formserving label {
    display: block;
    margin-top: 20px;
    margin-left: 5px;
}

.nutrition-summary .nutrition-amounts li {
    list-style: none;   
}

.dialogaddFood {
    display:block;
    margin: 0 auto;
}

.btn-addFood {
    display: block;
    margin: 20px auto;
    background-color: #0B6DF4;
    border: 0;
    height: 35px;
    cursor: pointer;
    width: 20%;
    border-radius: 20px;
    color: #FAEDE3; 
}

.btn-addFood:hover {
    background-color: #0044FF;
}

#timeofday {
    margin-left: 5px;
    height: 25px;
}

#serving {
    width: 30px;
    height: 22px;
    margin-left: 5px;
    border-radius: 5px;
}

#servingtype {
    height: 25px;
    margin-left: 5px;
    border-radius: 5px;
}

.nutrition-summary .nutrition-amounts {
    margin-left: -50px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
  }


  #roundProtein {
    background-color: rgb(255, 99, 132) !important; 
}


#roundcarbs {
    background-color: rgb(255, 205, 86) !important;
}

#roundfat {
    background-color: rgb(54, 162, 235) !important;
}

#percProtein {
    color: rgb(255, 99, 132) !important;
}

#percCarbs {
    color: rgb(255, 205, 86) !important;
}

#percFat {
    color: rgb(54, 162, 235) !important;
}

.dialogTitle {
    display: block;
    text-align: center;
    margin-top: 5px;
}

