:root {
    --text: #f6eded;
    --background: #03001C;
    --primary: #282A3A;
    --secondary: #301E67;
    --accent: #372279;
}

body {
    background-color: var(--background);
    font-family: "Open Sans", sans-serif;
    color: var(--text);
}


nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}

nav li {
    display: inline-block;
    padding-right: 10px;
}

nav a {
    color: #FAEDE3;
    font-weight: 700;
    text-decoration: none;
}