{% extends 'fittoapp/layout.html' %}
{% load static %}

{% block title %} - register {% endblock %}
{% block link %} 
<link rel="stylesheet" href="{% static 'fittoapp/index.css'%}">
<link rel="stylesheet" href="{% static 'users/reg-style.css'%}">
{% endblock%}

{% block body %}      



<!--Register--> 
<div class="container" id="container-login">
	<h1 class="heading">Login</h1>
	<form method="POST" class="form-container">
		{% csrf_token %}   
        {{ form.as_p }}   
        {% comment %} <input type="text" name="username" placeholder="Username">
        <input type="password" name="password1" placeholder="Password">
        <input type="password" name="password2" placeholder="Confirm Password">       {% endcomment %}
		<button class="login-btn" type="submit">Login</button>
	</form>
	<p class="text-center">Don't have an account?<a href="{% url 'register' %}"> Register</a> instead.</p>
</div>

{% endblock %}